{% extends 'base.html'%}
{% load static %}

{% block contents %}
<div class="row p-2">
        <div class="col-4 p-2">
            <div class="border rounded text-center shadow">
                <a href="{% url 'blogs_section' 1 %}">
                    <img src="/static/images/html1.png" class="w-25" alt="">
                </a>
                <p class="h5 fw-bold">Pengenalan HTML 1 </p>
                <p>by: Suryo Adhy Chandra, ST</p>
            </div>
        </div>
        <div class="col-4 p-2">
            <div class="border rounded text-center shadow">
                <a href="{% url 'blogs_section' 2 %}">
                    <img src="/static/images/html2.png" class="w-25" alt="">
                </a>
                <p class="h5 fw-bold">Pengenalan HTML 2</p>
                <p>by: Suryo Adhy Chandra, ST</p>
            </div>
        </div>
</div>
{% endblock %}