{% extends 'base.html'%}
{% load static %}

{% block contents %}
<div class="text-center">
    <p class="h3">Tentang Kami</p>
    <p>Website Sekolah Masehi Temanggung ini dibuat oleh kami, peserta extra coding SMP Masehi Temanggung.</p>
    <p>Tim yang berkontribusi adalah:</p>
</div>

<div class="row">
    <div class="col-4 p-2">
        <div class="d-flex justify-content-start align-items-center p-2 border rounded">
            <div class="col-4">
                <img src="{% static 'images/profile.png'%}" alt="" class="rounded-circle w-100">
            </div>
            <div class="col-8">
                <p  class="fw-bold h5">Jonathan Rema - Kelas 9</p>
                <p>Tahun 2024</p>
            </div>
        </div>
    </div>
    <div class="col-4 p-2">
        <div class="d-flex justify-content-start align-items-center p-2 border rounded">
            <div class="col-4">
                <img src="{% static 'images/profile.png'%}" alt="" class="rounded-circle w-100">
            </div>
            <div class="col-8">
                <p  class="fw-bold h5">Max - Kelas 7</p>
                <p>Tahun 2024</p>
            </div>
        </div>
    </div>
    <div class="col-4 p-2">
        <div class="d-flex justify-content-start align-items-center p-2 border rounded">
            <div class="col-4">
                <img src="{% static 'images/profile.png'%}" alt="" class="rounded-circle w-100">
            </div>
            <div class="col-8">
                <p  class="fw-bold h5">Dite - Kelas 8</p>
                <p>Tahun 2024</p>
            </div>
        </div>
    </div>
    <div class="col-4 p-2">
        <div class="d-flex justify-content-start align-items-center p-2 border rounded">
            <div class="col-4">
                <img src="{% static 'images/profile.png'%}" alt="" class="rounded-circle w-100">
            </div>
            <div class="col-8">
                <p  class="fw-bold h5">Bimbi - Kelas 8</p>
                <p>Tahun 2024</p>
            </div>
        </div>
    </div>
    <div class="col-4 p-2">
        <div class="d-flex justify-content-start align-items-center p-2 border rounded">
            <div class="col-4">
                <img src="{% static 'images/profile.png'%}" alt="" class="rounded-circle w-100">
            </div>
            <div class="col-8 ">
                <p class="fw-bold h5">Airin - Kelas 9</p>
                <p>Tahun 2024</p>
            </div>
        </div>
    </div>
    <div class="col-4 p-2">
        <div class="d-flex justify-content-start align-items-center p-2 border rounded">
            <div class="col-4">
                <img src="{% static 'images/profile.png'%}" alt="" class="rounded-circle w-100">
            </div>
            <div class="col-8">
                <p  class="fw-bold h5">Thomas - Kelas 9</p>
                <p>Tahun 2024</p>
            </div>
        </div>
    </div>
    <div class="col-4 p-2">
        <div class="d-flex justify-content-start align-items-center p-2 border rounded">
            <div class="col-4">
                <img src="{% static 'images/profile.png'%}" alt="" class="rounded-circle w-100">
            </div>
            <div class="col-8">
                <p  class="fw-bold h5">Theren - Kelas 9</p>
                <p>Tahun 2024</p>
            </div>
        </div>
    </div>
    <div class="col-4 p-2">
        <div class="d-flex justify-content-start align-items-center p-2 border rounded">
            <div class="col-4">
                <img src="{% static 'images/profile.png'%}" alt="" class="rounded-circle w-100">
            </div>
            <div class="col-8">
                <p  class="fw-bold h5">Aurora - Kelas 9</p>
                <p>Tahun 2024</p>
            </div>
        </div>
    </div>
</div>
{% endblock%}