{% extends 'base.html' %}
{% load static %}

{% block contents %}
<div class="text-center">
    <p>
        <img src="{% static 'images/html1.png'%}" class="w-25" alt="" srcset="">
    </p>
    <p class="h3">Pengenalan HTML 4<br><span class="h4">Pengaturan Letak HTML</span></p>
    <p class="h5">oleh: Suryo Adhy Chandra, ST</p>
</div>
<div class="p-2 mt-2 shadow">
    <p class="fw-bold h5 mt-2">
        Pengaturan Letak HTML
    </p>
    <p>
        Kalian semua pasti mengenal aplikasi Microsoft Word yang sering dipakai untuk melakukan pengetikan laporan. Ketika kita membuat penataan atau styling dalam Microsoft Word, kita bisa membagi 1 halaman menjadi beberapa bagian dengan letak dan fungsi masing-masing menggunakan <i>tools</i> yang namanya <b>textbox</b>.
    </p>
    <p>
        Sebagai contoh pada gambar di bawah ini: <br>
        <p class="justify-content-center d-flex">
            <img src="{% static 'images/blogs/textbox.png'%}" class="rounded w-50" alt="">
        </p>
        <p>Pada gambar di atas, ada 4 bagian, yaitu:
            <ul>
                <li>Textbox bagian 1 </li>
                <li>Textbox bagian 2 </li>
                <li>Textbox bagian 3 </li>
                <li>Textbox bagian 4 </li>
            </ul>
        </p>
    </p>
    <p>
        Di dalam HTML kita bisa melakukan pembagian tersebut dengan menggunakan tag div, dengan penggunaan: <b>&lt;div&gt;Texbox yang akan kita isikan&lt;/div&gt;</b>
    </p>
    <p>
        Di dalam tag &lt;div&gt;&lt;/div&gt; bisa terdapat banyak &lt;div&gt;&lt;/div&gt; yang bisa disesuaikan dengan kebutuhan.
    </p>
    <p>
        Tag &lt;div&gt;&lt;/div&gt; berbeda penggunaan dengan tag &lt;p&gt;&lt;/p&gt; yang sudah kita pelajari sebelumnya. Perbedaan ini adalah di dalam hal penggunaannya saja. 
    </p>
    <p>
        Di dalam tag &lt;div&gt;&lt;/div&gt; pun bisa digabungkan dengan beberapa tag sebelumnya yang sudah kita pelajari, antara lain tag &lt;p&gt;&lt;/p&gt;, kemudian tag &lt;img src=''&gt; dan tag-tag lain dalam html.
    </p>
    <p class="fw-bold fst-italic fs-4">
        Yukkkk segera kita praktekkan!
    </p>
</div>
{% endblock %}