{% extends 'base.html' %}
{% load static %}

{% block contents %}
    <div class="text-center">
        <p>
            <img src="{% static 'images/html1.png'%}" class="w-25" alt="" srcset="">
        </p>
        <p class="h3">Pengenalan HTML 8<br><span class="h4">Membagi Bidang/ Lokasi</span></p>
        <p class="h5">oleh: Suryo Adhy Chandra, ST</p>
    </div>
    <div class="container mt-3 fs-5 d-flex justify-content-start">
        Dalam melakukan pembagian bidang dalam sebuah halaman website kita akan mempergunakan tag <pre class="mx-2">&lt;div&gt;&lt;/div&gt;</pre>
    </div>
    <div class="container mt-3 fs-5">
        Kita akan membuat contoh kasus untuk pembagian bidang tersebut.
    </div>
    <div class="container mt-3 fs-5">
        1. Kita akan membuat sebuah halaman dibagi 2 seperti pada gambar di bawah ini:
        <p class="py-3">
            
        </p>
    </div>
{% endblock %}