{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sekolah Masehi Temanggung</title>
    <link rel="shortcut icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    {% block styles %}
    {% endblock %}
    <style>
        
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="bg-gradient rounded" style="background-color: violet;">
        <div class="row p-2">
                <!-- untuk logo masehi -->
                <div class="col-lg-2 col-md-3 col-3 d-flex justify-content-center align-items-center">
                        <a href="/">
                            <img src="{% static 'images\logo.jpg'%}" class="w-100 rounded-circle shadow p-2 bg-white" alt="">
                        </a>
                </div>
                <div class="col-lg-10 col-md-9 col-9 justify-content-start d-flex align-items-center">
                    <div>
                            <span class="fs-3  fw-bold">Sekolah Masehi Temanggung</span><br>
                            <span>Jl. Dr. Sutomo 1a</span><br>
                            <span>Temanggung - Jawa Tengah</span><br>
                            <span>Telepon: 0293-4535345</span>
                    </div>
                        
                </div>
        </div>
        <div class="">
            <nav class="navbar navbar-expand-lg navbar-light " style="background-color: lightgrey;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active menu-bar" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  px-2 menu-bar" href="#">Visi dan Misi</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle  px-2" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Sekolah Kami
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Day Care</a></li>
                                    <li><a class="dropdown-item" href="#">Pra Play Group (PPG)</a></li>
                                    <li><a class="dropdown-item" href="#">TK</a></li>
                                    <li><a class="dropdown-item" href="#">SD</a></li>
                                    <li><a class="dropdown-item" href="#">SMP</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle  px-2" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Extra Kurikuler
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">English</a></li>
                                    <li><a class="dropdown-item" href="#">Drum Band</a></li>
                                    <li><a class="dropdown-item" href="#">Basket</a></li>
                                    <li><a class="dropdown-item" href="#">Coding Club</a></li>
                                    <li><a class="dropdown-item" href="#">Musik</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle  px-2" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Fasilitas Sekolah
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Lapangan Basket</a></li>
                                    <li><a class="dropdown-item" href="#">Laboratorium IPA</a></li>
                                    <li><a class="dropdown-item" href="#">Laboratorium Bahasa</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle  px-2" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Profil Staff dan Pengajar
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Staff</a></li>
                                    <li><a class="dropdown-item" href="#">Guru PPG dan Day Care</a></li>
                                    <li><a class="dropdown-item" href="#">Guru TK</a></li>
                                    <li><a class="dropdown-item" href="#">Guru SD</a></li>
                                    <li><a class="dropdown-item" href="#">Guru SMP</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle  px-2" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Materi Online
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'blogs_list'%}">Extra Coding</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  px-2 menu-bar" href="{% url 'tentang_kami' %}">Kontributor</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </nav>
        </div>
    </div>
    <div class="mt-3 p-2">
            {% block contents%}
            {% endblock %}
    </div>
</div>
    

    
    
</body>
</html>