{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sekolah Masehi Temanggung</title>
    <link rel="shortcut icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    {% block styles %}
    {% endblock %}
    <style>
        .logo {
            min-width: 130px;
            max-width: 130px;
            min-height: 130px;
            max-height: 130px;
            border-radius: 50%;
        }

        .welcome {
            min-width: 300px;
            max-width: 300px;
            min-height: 60px;
        }

    </style>
</head>
<body>
<div >
    <div class="bg-gradient rounded" style="background-color: #F8EBDC;">
        <div class="d-flex justify-content-between  p-2">
            <div class="d-flex justify-content-start" >
                <!-- untuk logo masehi -->
                <div class="d-flex justify-content-center align-items-center">
                        <a href="/">
                            <img src="{% static 'images\logo.jpg'%}" class="logo" alt="">
                        </a>
                </div>
                <!-- untuk alamat masehi -->
                <div class="justify-content-start d-flex align-items-center p-2" >
                    <div>
                            <span class="fs-3  fw-bold" >YSK Masehi</span><br>
                            <span >Jl. Dr. Sutomo 1a</span><br>
                            <span >Temanggung - Jawa Tengah</span><br>
                            <span >Telepon: 0293-4535345</span>
                    </div>
                        
                </div>
            </div>
            <div class="d-none d-lg-flex  d-md-flex  justify-content-lg-end">
                <img src="{% static 'images/welcome.png'%}" class="welcome" alt="">
            </div>
                
        </div>
        <div class="">
            <nav class="navbar navbar-expand-lg navbar-light  rounded-bottom shadow" style="background-color: violet">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active menu-bar" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle  px-2" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Sekolah Kami
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Visi dan Misi Masehi</a></li>
                                    <li><a class="dropdown-item" href="#">Nilai-nilai Masehi</a></li>
                                    <li><a class="dropdown-item" href="#">Day Care</a></li>
                                    <li><a class="dropdown-item" href="#">Pra Play Group (PPG)</a></li>
                                    <li><a class="dropdown-item" href="#">TK</a></li>
                                    <li><a class="dropdown-item" href="#">SD</a></li>
                                    <li><a class="dropdown-item" href="#">SMP</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle  px-2" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Extra Kurikuler
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">English</a></li>
                                    <li><a class="dropdown-item" href="#">Drum Band</a></li>
                                    <li><a class="dropdown-item" href="#">Basket</a></li>
                                    <li><a class="dropdown-item" href="#">Coding Club</a></li>
                                    <li><a class="dropdown-item" href="#">Musik</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle  px-2" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Fasilitas Sekolah
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Lapangan Basket</a></li>
                                    <li><a class="dropdown-item" href="#">Laboratorium IPA</a></li>
                                    <li><a class="dropdown-item" href="#">Laboratorium Bahasa</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle  px-2" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Profil Staff dan Pengajar
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Staff</a></li>
                                    <li><a class="dropdown-item" href="#">Guru PPG dan Day Care</a></li>
                                    <li><a class="dropdown-item" href="#">Guru TK</a></li>
                                    <li><a class="dropdown-item" href="#">Guru SD</a></li>
                                    <li><a class="dropdown-item" href="#">Guru SMP</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle  px-2" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Materi Online
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'blogs_list'%}">Extra Coding</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  px-2 menu-bar" href="{% url 'tentang_kami' %}">Kontributor</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </nav>
        </div>
    </div>
    <div class="mt-3 p-2">
            {% block contents%}
            {% endblock %}
    </div>
</div>
    
<div class="footer mb-0 text-center mt-5 pt-4 bg-white border-top border-secondary">
    <p class="fw-bold fs-5">Sekolah Masehi Temanggung &copy; 2004</p>
    <p>By: Peserta Extra Kurikuler Coding</p>
    <p>Lecturer: <a href="mailto:'adhy.chandra@gmail.com'" target="_blank">leopard, inc</a></p>
</div>
    
    
</body>
</html>